<!DOCTYPE html>
<html lang="en">
  <!-- -------------------------------------------------------------------------HEAD/LINKS--------------------------------------------------------------- -->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grocerly List</title>
    <link rel="stylesheet" href="./grocery.html" disabled id="grocery" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/assets/css/grocery.css" />
  </head>

  <body>
    <nav>
      <div>
        <img
          class="list_select"
          src="/assets/images/icons/list_icon.png"
          alt=""
        />
      </div>
      <div>
        <h1 class="todo">Grocery List</h1>
      </div>
      <div class="theme-div">
        <h1 class="theme">
          <img
            class="theme_change"
            src="/assets/images/icons/change_theme_icon.png"
            alt=""
          />
        </h1>
      </div>
      <div id="theme-form">
        <label for="select_a_theme">Select a theme</label>
        <form action="" id="select_a_theme">
          <select name="themes" id="select_a_theme" multiple>
            <option id="select_a_theme" class="dark" value="dark">Dark</option>
            <option
              id="select_a_theme"
              selected="select"
              class="light"
              value="light"
            >
              Light
            </option>
            <option id="select_a_theme" class="new_year" value="new_year">
              New Year
            </option>
            <option id="select_a_theme" class="valentine" value="valentine">
              Valentine
            </option>
            <option
              id="select_a_theme"
              class="fourth_of_july"
              value="fourth_of_july"
            >
              Fourth Of July
            </option>
            <option class="halloween" value="halloween">Halloween</option>
            <option class="thanksgiving" value="thanksgiving">
              Thanksgiving
            </option>
            <option class="xmas" value="xmas">Xmas</option>
          </select>
        </form>
      </div>
    </nav>
    <!-- ------------------------------------------------------------------------------<HR>----------------------------------------------------------------------------- -->
    <hr />
    <main>
      <!-- ------------------------------------------------------------------ MAIN HEADER----------------------------------------------------------------------------->

      <!-- -------------------------------------------------MAIN SECTION 1 //// TO-DO FORM----------------------------------------------------------------------------->
      <section class="form-container">
        <form action="/lists/users" method="POST" class="users">
          <input
            class="input firstname"
            type="text"
            name="firstname"
            minlength="1"
            maxlength="12"
            autocomplete="off"
            placeholder="Enter your first name"
            required="required"
          />
          <button class="submit">Submit</button>
        </form>
      </section>
      <section>
        <h1 class="h1_firstname"></h1>
      </section>
      <section class="add-todo">
        <h2>Add new item</h2>
        <img
          class="img-todo"
          src="/assets/images/icons/Add_Item_Icon.png"
          alt=""
        />
      </section>

      <section class="todo-data">
        <form
          action="/lists/todo"
          method="POST"
          class="todo-list-data"
          name="todo"
        >
          <div class="todo-form-wrapper">
            <input
              class="input task has-text-centered"
              type="text"
              name="task"
              minlength="1"
              maxlength="35"
              autocomplete="off"
              placeholder="Enter new task"
              required="required"
            />
            <input
              class="input complete_by has-text-centered"
              type="text"
              name="complete_by"
              minlength="1"
              maxlength="12"
              autocomplete="off"
              placeholder="Time to complete"
              required="required"
            />
            <button class="submit-todo" type="submit" required="required">
              Submit
            </button>
          </div>
        </form>
      </section>

      <table class="table is-bordered is-stripe has-sticky-header">
        <thead>
          <tr>
            <th class="header-1 has-text-centered sticky-header">Task</th>
            <th class="header-2 has-text-centered sticky-header">
              Complete-By
            </th>
          </tr>
        </thead>
        <tbody class="tbody-todo"></tbody>
      </table>
      <!-- -----------------------------------------------------------------------patch data---------------------------------------------------- -->
      <section class="update_data">
        <form
          action="/lists/todo"
          method="POST"
          class="patch_list_data"
          name="update"
        >
          <div class="update_form_wrapper">
            <input
              class="task_update has-text-centered"
              type="text"
              name="task_update"
              autocomplete="off"
              minlength="1"
              maxlength="35"
              placeholder="Enter task update"
              required="required"
            />
            <input
              class="complete_by_update has-text-centered"
              type="text"
              name="complete_by_update"
              autocomplete="off"
              minlength="1"
              maxlength="12"
              placeholder="Update timeline"
              required="required"
            />
            <button class="submit_update" type="submit" required="required">
              Submit
            </button>
          </div>
        </form>
      </section>
    </main>
    <!-- --------------------------------------------------------------------------------SCRIPTS------------------------------------------------------------------------------ -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script type="module" src="/assets/js/grocery.js"></script>
  </body>
</html>
